html {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.grouped-overlapping-events {
  display: flex;
  position: absolute;
  width: 100%;
}

.event-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  /* margin: 0 2px; */
  font-weight: bold;
  transition: all;
  transition-duration: 300ms;
  background: lime;
  color: black;
}
